
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
div.jumbotron{
  background-image: url('../img/duck.jpg');
  background-size: cover;
  height: 570px;
  position: relative;
}

.jumbotron{
  margin: 0px;

}
.jumbotron h1{
  color: white;
}

.order-container{
  padding: 5px 20px 10px 20px;
  border-radius: 20px;
}

.order{
  margin: 0 auto;
  width: 500px;
}

.text-center{
  color: black;
  text-align: center;
}

input[type=text], .form-inline input, .form-control{
  line-height: normal;
  width: 190px;
  border: 1px solid #ccc;
  padding: 2px 5px;
  border-radius: 20px;
}

.title-image{
  position: absolute;
  left: 43%;
}

.desc-container{
  margin-top: 80px;
  margin-left: -40px;
}

.desc{
  width: 270px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
}

.avatar-pic{
  width:100px;
  border-radius: 50px;
  margin-left: 70px;
}

.subtitle{
  margin-left: -50px;
}

.journey{
  position: relative;
  overflow: hidden;
}

.journey .pitch{
  margin: 0 auto 10rem;
  padding: 0 6vw;
  position: relative;
  z-index: 2;
  min-height: 450px;
}
.journey .pitch article{
  width: 30%;
  float: right;
  position: relative;
}

.journey .pitch article>h2 {
  font-size: 4.5rem;
  line-height: 1.15em;
  margin-bottom: 1rem;
}

.journey .pitch article>p {
  font-family: "proxima-nova-1","proxima-nova-2","museo-sans-1","museo-sans-2",helvetica neue,sans-serif;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.journey-bullet {
  background: #e0dbd5;
  border-radius: 100%;
  color: #86847f;
  font-size: 2rem;
  font-weight: 700;
  height: 70px;
  left: -12rem;
  line-height: 70px;
  position: absolute;
  text-align: center;
  text-indent: .15em;
  top: 2rem;
  width: 70px;
  z-index: -1;
}











